<!DOCTYPE html>
<html>
<head>
  <title>TryIIIF</title>
  <script type="text/javascript" id="embedUV" src="static/vendor/uv-1.7.27/lib/embed.js') }}"></script>
</head>
<body>
  <div>
    <form method="POST">
        <label>Title:<input type="text" name="title" /></label>
        <label>URL:<input type="text" name="url" /></label>
        <button type="submit">Submit</button>
    </form>
    <div class="uv" data-locale="en-GB:English (GB),cy-GB:Cymraeg" data-config="" data-uri="static/manifest-sample.json" data-sequenceindex="0" data-canvasindex="0" data-zoom="-0.3778,0,1.7556,1.3791" data-rotation="0" style="width:800px; height:600px; background-color: #000"></div>
  </div>
</body>
